doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Attendant Dashboard
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB' crossorigin='anonymous')
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='#') Attendant Dashboard
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Manager
        li.nav-item
          a.nav-link(href='#') Admin
        li.nav-item
          a.nav-link(href='#') Pricing
.col-md-4
  .card.shadow.dashboard-card.p-3.text-center
    p.card-title AVAILABLE PARKING SLOTS
    h2.text-primary 28 / 150
.col-md-4
  .card.shadow.dashboard-card.p-3.text-center
    h3 Recent Arrivals
    span View All Activity
table.table
  thead
    tr
      th(scope='col') TIME
      th(scope='col') PLATE NUMBER
      th(scope='col') VEHICLE TYPE
      th(scope='col') STATUS
      th(scope='col') ACTIONS
  tbody
    tr
      td 10:45 AM
      td UAX 452C
      td SUV
      td PARKED
      td ...
    tr
      td 10:32 AM
      td UBG 128Y
      td MOTORBIKE
      td PARKED
      td ...
    tr
      td 10:15 AM
      td UAB 900Z
      td DELIVERY VAN
      td PROCESSING
      td ...
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js' integrity='sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI' crossorigin='anonymous')
